<div class="titre">
<h2> <b>PROFIL EDITING</b> </h2>
</div>
    
<form class="corps">  

  <div class="nomUtilisateur">
    Nom d'utilisateur <input name="log" placeholder="{{service.getUserName()}}" class="login-input" type="text">
  </div>

  <div class="motPasse">
    Modifier le mot de passe  
    <button class="password"> <mat-icon class="material-icons" color="primary">lock</mat-icon>
    </button>
  </div>
      
  <div class="btn-val">
    <button id="val" routerLink="/chat"> valider </button> 
  </div>
        
</form>
