.login-input {
    position: relative;
	float: left;
	background-color : white;
	border-top : none;
	color : #202020;
	width:60%;
	height: 25px;
}

#loupe {
	color:"black";
	background: white;
}

button {
	background: white;
	height: 25px;
	border: none;
}

span {
	margin-left: 3%;
}