.invitation-input {
    position: relative;
	float: left;
	background-color : white;
	border-top : none;
	color : #202020;
	width:80%;
	height: 30px;
	padding-left: 10px;
}

#loupe {
	color:"black";
	background: white;
}

button {
	background: white;
	height: 30px;
	border: none;
}

span {
	padding-left: 15px;
}