<mat-list>

  <mat-list-item *ngFor="let contact of service.getContacts()">

      <mat-button-toggle-group>

          <mat-button-toggle [class.selected]="contact === selectedContact" (click)="onSelect(contact)">
          {{contact.username}}
          </mat-button-toggle>

          <button class="addP" (click)="addParticipant(discussion.id)">
              <mat-icon id="addParticipant">add</mat-icon> 
          </button>

      </mat-button-toggle-group>

  </mat-list-item>

</mat-list>

<p></p>
<app-invitation-form></app-invitation-form>


