<mat-card>
  <mat-toolbar id="titre" layout-align="center center" color="primary">
    <div class="mat-toolbar-tools">
       <h2> RECUPERATION DU MOT DE PASSE </h2>
      <span flex></span>
    </div>
  </mat-toolbar>
  
  <p> </p>
  
  <!--<form layout="row">  -->
    <span flex></span>
    <div class="ensemble" layout="column">
      <div>
        <mat-icon class="material-icons" color="primary">mail_outine</mat-icon>
        <mat-input-container class="fullwidth">
          <input matInput name="email" placeholder="Adresse mail" class="mail-input" type="email" [(ngModel)]="mail" 
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="mail" #mel="ngModel">
          <div [hidden]="mel.valid || mel.pristine"
           class="alert alert-danger">
             Adresse mail requise
          </div>
        </mat-input-container>
      </div>

      
      <div class="buttonLog">
          <p> </p>
          <button class="mat-primary mat-raised" (click)="goBack()"> Annuler </button> 
          <button class="mat-primary mat-raised" (click)="send()"> Valider </button> 
      </div>
    </div> 
    <span flex></span>
  <!--</form>-->
</mat-card> 
