
  <body>
    <span>
    <h1><b>A propos</b></h1>
    <h2>
    <p>Cette messagerie est un projet professionnel pour l'obtention du Master 2 CCI.</p>
  </h2>
  </span>
    
    <div id="image1">
    <img src="https://www.guides-calanques.com/sites/guides-calanques.com/files/calanques/luminy.jpg" width=25%/>
    </div>
   
    <div id="image2">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/50/86/1a/les-calanques-de-luminy.jpg" width=25% />
    </div>
    <div id="image3">
        <img src="https://preview.ibb.co/hAe9Uc/DSC_0016.jpg" width=33%/>
    </div>
    <p></p>
 <div style="margin-left:5%" id="image4">
        <img src="https://preview.ibb.co/hX8guc/DSC_0019.jpg" width=25% />
    </div>
    <div id="image5">
        <img src="http://allie-luminy.e-monsite.com/medias/album/l-entree-du-campus.jpg" width=25% />
    </div>

<span><h2>Participants : </h2>
  <p>
    Romain Bobinet
  </p>
  <p>
    Julien Corny
  </p>
  <p>
    Samuel Duval
  </p>
  <p>
    Amina Fellague
  </p>
  <p>
    Sophie Mairesse
  </p>
  <p>
    Abderrahim Rekla
  </p>
  
</span>
 
avril 2018

  
<button routerLink="/login">Retour</button>
</body>
