
  <body>
    <span>
    <h1><b>A propos de CCI Messenger</b></h1>
    <h2>
    <p>CCI Messenger a été créé en 2018 par une équipe de 6 personnes.</p>
    <p>Grâce à CCI Messenger, vous restez connectés avec le monde entier quelque soit la distance.</p>
  </h2>
  </span>
    
    <div id="image1">
    <img src="https://www.guides-calanques.com/sites/guides-calanques.com/files/calanques/luminy.jpg" width=25%/>
    </div>
   
    <div id="image2">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/50/86/1a/les-calanques-de-luminy.jpg" width=25% />
    </div>
    <div id="image3">
        <img src="https://preview.ibb.co/hAe9Uc/DSC_0016.jpg" width=33%/>
    </div>
    <p></p>
 <div style="margin-left:5%" id="image4">
        <img src="https://preview.ibb.co/hX8guc/DSC_0019.jpg" width=25% />
    </div>
    <div id="image5">
        <img src="http://allie-luminy.e-monsite.com/medias/album/l-entree-du-campus.jpg" width=25% />
    </div>


  
<span><h2><p> Notre équipe met à jour constamment la messagerie.
  Nous faisons notre maximum pour vous satisfaire.</p></h2></span>
<button routerLink="/welcome">Retour</button>
</body>
