#bar {
    color: white;
    justify-content: center;
}

.buttonLog {
    text-align: center;
}
    
.ensemble {
    text-align: center;
}

mat-card {
    margin-top: 150px;
    max-width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

app-root{
    margin-left: middle;
    margin-right: middle;
    vertical-align: middle;
}

.password-form {
    position:fixed;
    width:300px;
    height:140px;
    margin-left: -150px;
    margin-top: -80px;
    left: 50%;
    top: 50%;
    border: none;
    vertical-align:middle;
    padding: 20px;
}

.login-form {
    position:fixed;
    width:300px;
    height:140px;
    margin-left: -150px;
    margin-top: -80px;
    left: 50%;
    top: 50%;
    border: none;
    vertical-align:middle;
    padding: 20px;
}

#foot {
    font-size: 80%;
}