<div class="group">
  
<mat-card>

  <mat-toolbar id="titre" layout-align="center center">
      <h2> LOGIN </h2>
  </mat-toolbar>
  
 
<form class="formulaire"> 

  <div>
    <mat-icon class="material-icons">person</mat-icon>
    <mat-input-container class="fullwidth">
      <input matInput name="log" placeholder="Nom d'utilisateur" class="login-input" type="text" [(ngModel)]="username" (keyup.enter)="send()"/>
    </mat-input-container>
  </div>

  <div>
    <mat-icon class="material-icons" color="primary">lock</mat-icon>
    <mat-input-container class="fullwidth">
      <input matInput name="pass" placeholder="Mot de passe" class="password-input" type="password" [(ngModel)]="password" (keyup.enter)="send()">
    </mat-input-container>
  </div>
      
  <div class="val">
    <button id="btn" (click)="send()"> Valider </button> 
  </div>

</form>

<nav id="foot">
    <span id="inscription"> Vous n'êtes pas encore inscrit ?</span><p><a routerLink="/subscribe"> Je m'inscris !</a></p>
    <p> Mot de passe oublié ? </p>
</nav>
</mat-card> 

<mat-button-toggle routerLink="/about">
    <span id="propos">A propos</span>
</mat-button-toggle>

</div>

