<mat-list>

  <mat-list-item *ngFor="let discussion of service.getDiscussionsListName()">

      <mat-button-toggle-group>

          <mat-button-toggle [class.selected]="discussion === selectedDiscussion" (click)="onSelect(discussion)">
          {{discussion.participantsName}}
          </mat-button-toggle>

          <button class="quitter" (click)="quitDiscussion(discussion.id)">
              <mat-icon id="corbeille">delete</mat-icon> 
          </button>

      </mat-button-toggle-group>

  </mat-list-item>

</mat-list>


