mat-button-toggle-group {
  width:100%;
  background-color: transparent;
  border: none;
  outline: 0;
  outline-offset: 0;
  background-image: none;
  -webkit-box-shadow: none ;
  box-shadow: none;
}

mat-button-toggle-group:hover {
  background-color: #328CC1;
  border: none;
}

mat-divider {
  background-color: white;
  opacity: 0.1;
}

mat-button-toggle {
  background-color: transparent;
  color: white;
  width: 100%;
  border: none;
  outline:0;
  outline-offset: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

mat-button-toggle:hover {
  color: white;
  background-color: #328CC1;
  border: none;
  outline: 0;
}

mat-button-toggle-group:hover #corbeille {
  color: white;
  visibility: visible;
  background-color: #328CC1;
  border: none;
}

#corbeille {
  visibility: hidden;
  border: none;
}



button {
  background-color: transparent;
  border: none;
  outline: none;
}
