mat-button-toggle-group {
  width:100%;
  background-color: transparent;
}

mat-button-toggle {
  background-color: transparent;
  color: lightblue;
  width: 100%;
}

mat-button-toggle:hover {
  color: white;
}

mat-button-toggle-group:hover #corbeille {
  color: white;
  opacity: 0.5;
  visibility: visible;
}

#corbeille {
  visibility: hidden;
}

button {
  background-color: transparent;
  border: none;
}

