button:hover {
    background-color:#1D2731;
    opacity: 0.5;
}
    
/deep/ .menuProf {
     background-color: rgb(222, 231, 235);
    }

button::-moz-focus-inner {
    border: 0;
} 

.mat-toolbar {
    position: relative;
    background-color: #0B3C5D;
    z-index: 1;
}

.mat-icon {
    color: white;
}


#avatar {
    padding-bottom: 37px;
}


#nom {
    padding: 10px;
    color: white;
    font-style: italic;
}

/*
#iconToolbarFleche {
    padding: 10px;
}
*/

.menuSide {
    position: relative;
    min-height: 2000px;
  }

#barreGauche {
    width: 25%;
    background-color: #0B3C5D;
}

.btnSide {
    background-color: transparent;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

#participants {
    background-color:#1D2731;
    opacity: 0.5;
    margin-left: 25%;
    width: 75%;
    padding-left: 25px;
    color: white;
}

#listeParticipants {
    position: relative;
    left: 5%;
}