<mat-toolbar>

    <mat-toolbar-row id="premiere">

        <span id="nom"> {{service.getUserName()}} </span>

        <mat-icon id="avatar" style="font-size: 150%">person</mat-icon>
        
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon id="iconToolbarFleche">keyboard_arrow_down</mat-icon>
        </button>
   
    </mat-toolbar-row>


    <mat-toolbar-row id="participants"> <mat-icon id="people">people</mat-icon>
        <span id="particip" *ngFor="let participant of service.getCurrentDiscussionParticipantsNames()"> 
            {{participant}}</span>
    </mat-toolbar-row>

    
</mat-toolbar>
 

<mat-menu class="menuProf" #appMenu="matMenu">
    <button class="btn-prof" mat-menu-item routerLink="/profil"> Profil </button>
    <button class="btn-decon" mat-menu-item (click)="service.unLog()"> Déconnexion </button>
</mat-menu>



<mat-sidenav-container class="menuSide">

    <mat-sidenav id="barreGauche" mode="side" class="navig" opened>

        <p></p>

        <mat-list>
    

            <mat-list-item>

                <div class="btnSide"> INVITATIONS </div>
                <button mat-icon-button class="accordion" (click)="afficheInvitations()">
                    <mat-icon *ngIf="!visibilityInvitation" id="iconSideFleche">keyboard_arrow_down</mat-icon> 
                    <mat-icon *ngIf="visibilityInvitation" id="iconSideFlecheUp">keyboard_arrow_up</mat-icon> 
                </button>

            </mat-list-item>

            <app-invitation-list *ngIf="visibilityInvitation"></app-invitation-list>


            <mat-list-item>
        
                <div class="btnSide"> CONTACTS </div>

                <button mat-icon-button class="accordion" (click)="afficheContacts()">
                    <mat-icon *ngIf="!visibilityContact" id="iconSideFleche">keyboard_arrow_down</mat-icon> 
                    <mat-icon *ngIf="visibilityContact" id="iconSideFlecheUp">keyboard_arrow_up</mat-icon> 
                </button>

            </mat-list-item>
        
            <app-contact-list *ngIf="visibilityContact"></app-contact-list>


            <mat-list-item>

                <div class="btnSide"> DISCUSSIONS </div>

                <button mat-icon-button class="accordion" (click)="afficheDiscussions()">
                    <mat-icon *ngIf="!visibilityDiscussion" id="iconSideFleche">keyboard_arrow_down</mat-icon> 
                    <mat-icon *ngIf="visibilityDiscussion" id="iconSideFlecheUp">keyboard_arrow_up</mat-icon> 
                </button>

            </mat-list-item>

            <app-discussions-list *ngIf="visibilityDiscussion"></app-discussions-list>
    

        </mat-list>

    </mat-sidenav>


    <div *ngIf="!service.isLogged()">
        <span>Vous n'êtes pas connecté, cliquer </span>
            <a routerLink="/login">ici</a>
        <span> pour vous identifier.</span>
    </div>


    <div *ngIf="service.isLogged()">
        <app-message-list></app-message-list>
    </div>


</mat-sidenav-container>